@font-face {
    font-family: "NotoSans";
    src: url(../../assets/fonts/NotoSansKR-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

.page1_button {
    width: 20rem;
    height: 3.313rem;
    margin: 0 1.25rem 3.25rem 1.25rem;
    font-family: "NotoSans";
    font-weight: 500;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 0.075rem rgba(255, 255, 255, 0.7);
    border-radius: 1.656rem;
}

.page1_arrow {
    width: 1.104rem;
    height: 0.832rem;
    margin: 0 0 0 1.375rem;
}